@charset 'utf-8';

@use "sass:map";
@use "sass:meta";

$prefixes: webkit, moz, ms, o;

$inputs: text, password, reset, submit, button, email, number, phone, date, tel;

/* color */
$c-base	: #515A6E;

/* Base Font */
// $base-font-head: 'HyundaiSansHeadKR' !default;
// $base-font-text: 'HyundaiSansTextKR' !default;
// $base-font-head-regular: 'HyundaiSansHeadKRR' !default;
// $base-font-text-regular: 'HyundaiSansTextKRR' !default;
// $base-font-size: 14px !default;
// $base-font-color: #666;

// $base-font-set	:$base-font-head-regular, 'sans-serif';

$max: 720px;
$size: 28px;

@media screen and (min-width: $max) {
  :root {
    background: #fff;
  }
  html {
    font-size: $size;
  }
}
@for $i from 1 to 401 {
  @media screen and (max-width: ( $max - ( 1px * $i ) )) {
    html {
      font-size: ($size - (0.038875 * $i));
    }
  }
}

@function stripUnit($number) {
  $num: $number * 0 + 1;
  @if (type-of($number) == "number" and not unitless($number)) {
      @return calc($number / $num);
  }
  @return $number;
}

@function rem($pxValue){
  @return unquote(calc((stripUnit($pxValue * 1.7) / stripUnit($size)))+'rem');
}

// @function stripUnit($value) {
//   @return $value / ($value * 0 + 1);
// }
// @function rem($pxValue) {
//   @return #{stripUnit($pxValue) * 1.7 / stripUnit($size)}rem;
  
// }

@mixin font-face($family,$file,$weight,$style:normal){
  $path : '~@/assets/fonts/' + $file;
  @font-face{
    font-family: $family;
    src: url($path + '.eot');
    src:url($path + '.eot?#iefix') format("embedded-opentype"),
        url($path + '.woff2') format('woff2'),
        url($path + '.woff') format('woff');
        // url($path + '.ttf') format('truetype');
    font-weight: $weight;
    font-style: $style;
  }
}

// @mixin icon-draw($name, $w, $h, $bg){
//   $path : '../images/';
//   .i-#{$name}{width:rem($w);height:rem($h);background:url("#{$bg}") no-repeat 0 0;} 
// }

// @function svg($name, $args...){
//   $fill: nth($args, 1);  
//   @if ($name == 'back'){
//     @return 'data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 16"><path d="M0 8L8.00009 0L9.77759 1.7775L3.55509 8L9.77759 14.2225L8.00009 16L0 8Z" fill="#{$fill}"/> </svg>';
//   }
// }

@function args($args, $arg) {
  @return map.get($args, $arg);
}

@function setPreFix($width, $height){
  @return 'data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 #{$width} #{$height}">';
}

@mixin svg($name, $args...){
  $argument : meta.keywords($args);
  $fill: args($argument, 'fill');
  $width: args($argument, 'width');
  $height: args($argument, 'height');
  $fill: args($argument, 'fill');
  $stroke: args($argument, 'stroke');
  $prefix: setPreFix($width, $height);
  $close: '</svg>';
  $repeat: 'no-repeat 0 0';

  @if ($name == 'back'){
    background:url('#{$prefix}<path d="M0 8L8.00009 0L9.77759 1.7775L3.55509 8L9.77759 14.2225L8.00009 16L0 8Z" fill="black"/>#{$close}') #{$repeat};
  } @else if ($name == 'home'){
    background:url('#{$prefix}<path d="M0.901525 7.79682L9.40152 1.44708C9.75646 1.18193 10.2435 1.18193 10.5985 1.44708L19.0985 7.79682C19.3512 7.9856 19.5 8.28254 19.5 8.59797V22C19.5 22.5523 19.0523 23 18.5 23H14.4926C14.0293 23 13.6538 22.6245 13.6538 22.1613V17.428C13.6538 15.4101 12.018 13.7742 10 13.7742C7.98204 13.7742 6.34615 15.4101 6.34615 17.428V22.1613C6.34615 22.6245 5.97065 23 5.50745 23H1.5C0.947715 23 0.5 22.5523 0.5 22V8.59796C0.5 8.28254 0.648823 7.9856 0.901525 7.79682Z" fill="none" stroke="%2317233D"/>#{$close}') #{$repeat};
  } @else if ($name == 'tel'){
    background:url('#{$prefix}<path d="M2.57375 2.75958L3.62623 1.70711C4.01675 1.31658 4.64992 1.31658 5.04044 1.70711L8.95956 5.62623C9.35008 6.01675 9.35008 6.64992 8.95956 7.04044L7.36233 8.63767C7.14595 8.85405 7.09231 9.18461 7.22916 9.45831C8.81137 12.6227 11.3773 15.1886 14.5417 16.7708C14.8154 16.9077 15.1459 16.8541 15.3623 16.6377L16.9596 15.0404C17.3501 14.6499 17.9833 14.6499 18.3738 15.0404L22.2929 18.9596C22.6834 19.3501 22.6834 19.9833 22.2929 20.3738L21.2404 21.4263C19.1754 23.4913 15.9235 23.7695 13.5377 22.0854L12 21L8.99555 18.5964C7.66927 17.5354 6.46459 16.3307 5.40356 15.0044L3 12L1.91458 10.4623C0.230456 8.07648 0.50874 4.82459 2.57375 2.75958Z" fill="none" stroke="black"/>#{$close}') #{$repeat};
  } @else if ($name == 'arr-right'){
    background:url('#{$prefix}<path d="M15 12L2.99986 0L0.333618 2.66625L9.66737 12L0.333618 21.3338L2.99986 24L15 12Z" fill="%2317233D"/>#{$close}') #{$repeat};
  } @else if ($name == 'arr-cate'){
    background:url('#{$prefix}<path d="M10 8L1.99991 0L0.222412 1.7775L6.44491 8L0.222412 14.2225L1.99991 16L10 8Z" fill="%23808695"/>#{$close}') #{$repeat};
  } @else if ($name == 'answer-complete'){
    background:url('#{$prefix}<rect width="16" height="16" rx="4" fill="%2346C768"/> <circle cx="8.00031" cy="8.00006" r="5.25714" fill="white"/> <path d="M4.5 7L7.5 10L11.5 6" fill="none" stroke="%2346C768"/>#{$close}') #{$repeat};
  } @else if ($name == 'answer-wating'){
    background:url('#{$prefix}<rect width="16" height="16" rx="4" fill="%235D96F6"/> <circle cx="8.00031" cy="8.00006" r="5.25714" fill="white"/> <path d="M7.70136 10.6639H8.30936V6.70392H7.70136V10.6639ZM7.69336 5.90392H8.31736V5.26392H7.69336V5.90392Z" fill="%235D96F6"/>#{$close}') #{$repeat};
  } @else if ($name == 'foot-charging-station'){
    $prefix: setPreFix(19, 25);
    background:url('#{$prefix}<path d="M13.75 9.625C13.75 12.0067 11.8472 13.9375 9.5 13.9375C7.15279 13.9375 5.25 12.0067 5.25 9.625C5.25 7.24327 7.15279 5.3125 9.5 5.3125C11.8472 5.3125 13.75 7.24327 13.75 9.625Z" fill="#{$fill}" stroke="#{$stroke}"/><path fill-rule="evenodd" clip-rule="evenodd" d="M1 9.625C1 4.86154 4.80558 1 9.5 1C14.1944 1 18 4.86154 18 9.625C18 11.3884 17.4784 13.0283 16.5833 14.3943L9.5 24L2.41667 14.3943C1.52155 13.0283 1 11.3884 1 9.625ZM9.5 13.9375C11.8472 13.9375 13.75 12.0067 13.75 9.625C13.75 7.24327 11.8472 5.3125 9.5 5.3125C7.15279 5.3125 5.25 7.24327 5.25 9.625C5.25 12.0067 7.15279 13.9375 9.5 13.9375Z" fill="none" stroke="#{$stroke}"/>#{$close}') #{$repeat};
  } @else if ($name == 'foot-route-recommend'){
    $prefix: setPreFix(24, 22);
    background:url('#{$prefix}<path d="M20.5 14.125C20.5 15.2641 19.6046 16.1875 18.5 16.1875C17.3954 16.1875 16.5 15.2641 16.5 14.125C16.5 12.9859 17.3954 12.0625 18.5 12.0625C19.6046 12.0625 20.5 12.9859 20.5 14.125Z" fill="#{$fill}"/> <path d="M6.5 5.125C6.5 6.26409 5.60457 7.1875 4.5 7.1875C3.39543 7.1875 2.5 6.26409 2.5 5.125C2.5 3.98591 3.39543 3.0625 4.5 3.0625C5.60457 3.0625 6.5 3.98591 6.5 5.125Z" fill="#{$fill}"/> <path d="M4.5 12.3499C6.47512 12.1935 6.69596 11.9322 9.5 12.5227C13.0843 13.47 12 16.5 9.5 16.9998L4.75003 18.0227C1.74997 18.5228 1.75001 21.5 4.75003 21.4998L18.5 21.3498M22.5 14.125C22.5 11.8468 20.7091 10 18.5 10C16.2909 10 14.5 11.8468 14.5 14.125C14.5 14.9684 14.7454 15.7526 15.1667 16.406L18.5 21L21.8333 16.406C22.2546 15.7526 22.5 14.9684 22.5 14.125ZM20.5 14.125C20.5 15.2641 19.6046 16.1875 18.5 16.1875C17.3954 16.1875 16.5 15.2641 16.5 14.125C16.5 12.9859 17.3954 12.0625 18.5 12.0625C19.6046 12.0625 20.5 12.9859 20.5 14.125ZM8.5 5.125C8.5 2.84683 6.70914 1 4.5 1C2.29086 1 0.5 2.84683 0.5 5.125C0.5 5.96838 0.745435 6.75265 1.16667 7.40598L4.5 12L7.83333 7.40598C8.25456 6.75265 8.5 5.96838 8.5 5.125ZM6.5 5.125C6.5 6.26409 5.60457 7.1875 4.5 7.1875C3.39543 7.1875 2.5 6.26409 2.5 5.125C2.5 3.98591 3.39543 3.0625 4.5 3.0625C5.60457 3.0625 6.5 3.98591 6.5 5.125Z" fill="none" stroke="#{$stroke}"/>#{$close}') #{$repeat};
  } @else if ($name == 'foot-instant-charge'){
    $prefix: setPreFix(24, 24);
    background:url('#{$prefix}<path d="M5 5.5H9.5V10H5V5.5Z" fill="#{$fill}"/> <path d="M13.5 5.5H18V10H13.5V5.5Z" fill="#{$fill}"/> <path d="M5 14H9.5V18.5H5V14Z" fill="#{$fill}"/> <path d="M5.5 1H0.5V6M17.5 1H22.5V6M22.5 18V23H17.5M5.5 23H0.5V18M15.5 16.5H18V19M5 5.5H9.5V10H5V5.5ZM13.5 5.5H18V10H13.5V5.5ZM5 14H9.5V18.5H5V14ZM13.5 14H14V14.5H13.5V14ZM13.5 18.5H14V18H13.5V18.5Z" fill="none" stroke="#{$stroke}"/>#{$close}') #{$repeat};
  } @else if ($name == 'foot-favorites'){
    $prefix: setPreFix(20, 25);
    background:url('#{$prefix}<path d="M16.5 1H2.5C1.39543 1 0.5 1.89543 0.5 3V23.0421C0.5 23.4461 0.954417 23.6833 1.2859 23.4523L9.2141 17.9265C9.3859 17.8068 9.6141 17.8068 9.7859 17.9265L17.7141 23.4523C18.0456 23.6833 18.5 23.4461 18.5 23.0421V3C18.5 1.89543 17.6046 1 16.5 1Z" fill="none" stroke="#{$stroke}"/>#{$close}') #{$repeat};
  } @else if ($name == 'foot-more'){
    $prefix: setPreFix(26, 7);
    background:url('#{$prefix}<circle cx="2.5" cy="2" r="2" fill="%23808695"/> <circle cx="12.5" cy="2" r="2" fill="%23808695"/> <circle cx="22.5" cy="2" r="2" fill="%23808695"/>#{$close}') #{$repeat};
  }
  @content;
}

@mixin btn-style{
  @content;
}
@mixin btn-type($name, $h, $fs, $fw:normal){
  .#{$name}{height:$h;font-size:$fs;font-weight:$fw;}
}
@mixin btn-st($name, $c, $bg, $br, $fw:normal){
  [class*=btn-type].#{$name}{color:$c;background:$bg;border:1px solid $br;}
}

//prefix
@mixin prefix($property, $value, $prefixes:$prefixes) {
    @each $prefix in $prefixes {
      // @if not index($prefixes, $prefix) {
      //   @warn "Unknown prefix #{$prefix}.";
      // }
      -#{$prefix}-#{$property}: $value;
    }
    #{$property}: $value;
}

@mixin easing($sec:0.5s){
  transition: all $sec ease;
  -webkit-transition: all $sec ease;
}

@mixin placeholder {
    &:-webkit-input-placeholder {
      @content;
    }
    &:-moz-placeholder {
      @content;
    }
    &::-moz-placeholder {
      @content;
    }
    &:-ms-input-placeholder {
      @content;
    }
    &::placeholder {
      @content;
    }
}
  
//flex
@mixin flex($justify: flex-start, $align: center, $dir: row) {
  // ,  $dir: row, $wrap: nowrap
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $dir;
  // flex-wrap: $wrap;  
  @content;
}
@mixin flexInline($justify: flex-start, $align: center) {
  display: inline-flex;
  align-items: $align;
  justify-content: $justify;
  @content;
}

@mixin posCenter($dir: 'xy'){
  position:absolute;
  @if($dir == 'y'){
    top:50%;
    transform:translateY(-50%);-webkit-transform:translateY(-50%);
  }@else if($dir == 'x'){
    left:50%;
    transform:translateX(-50%);-webkit-transform:translateX(-50%);
  }@else if($dir == 'xy'){
    top:50%;left:50%;
    transform:translate(-$left, -$top);-webkit-transform:translate(-$left, -$top);
  }
  @content;
}


// @mixin ftApple($weight:400){
//   font-family: 'AppleSDGothicNeo';
//   font-weight:$weight;
// }

@mixin ftNoto($weight:400){
  font-family: 'NotoSansKr';
  font-weight:$weight;
}


//ellipsis
@mixin ell ($num: 1, $lh: 1.2){
  overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:#{$num};-webkit-box-orient:vertical;word-wrap:break-word;
  line-height:#{$lh}em;height:#{$lh * $num}em;
}

//font-light
@mixin thin {
  font-weight: 300;
}
//font-regular
@mixin regular {
  font-weight: 400;
}
//font-bold
@mixin bold {
  font-weight: 700;
}
//font-ebold
@mixin ebold {
  font-weight: 800;
}



/* Scrollbar
 -------------------------- */
 @mixin scrollbar($show:block) {
  $--scrollbar-thumb-background: rgba(0,0,0,.2);
  $--scrollbar-track-background: rgba(0,0,0,.05);

  &::-webkit-scrollbar {
    -webkit-appearance:none;
    display:$show;
    &:vertical {
      width:5px;
    }
    &:horizontal {
      height: 5px;
    }

    &-thumb {
      border-radius: 10px;
      background: $--scrollbar-thumb-background;
    }

    &-corner {
      background: $--scrollbar-track-background;
    }

    &-track {
      border-radius: 10px;
      background: $--scrollbar-track-background;

      &-piece {
        background: $--scrollbar-track-background;
        width: 6px;
      }
    }
  }
}

@mixin hideScroll {
  scrollbar-width: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
