@charset "utf-8";

@import 'mixin';

@each $name, $file, $weight, $style in 
('NotoSansKr', 'NotoSans-Black', 800, normal),
('NotoSansKr', 'NotoSans-Bold', 700, normal),
('NotoSansKr', 'NotoSans-Medium', 500, normal),
('NotoSansKr', 'NotoSans-Regular', 400, normal),
('NotoSansKr', 'NotoSans-DemiLight', 300, normal), 
('NotoSansKr', 'NotoSans-Light', 200, normal), 
('NotoSansKr', 'NotoSans-Thin', 100, normal),
('AppleSDGothicNeo', 'AppleSDGothicNeoEB', 800, normal),
('AppleSDGothicNeo', 'AppleSDGothicNeoB', 700, normal),
// ('AppleSDGothicNeo', 'AppleSDGothicNeoH', 700, normal),
('AppleSDGothicNeo', 'AppleSDGothicNeoM', 400, normal),
('AppleSDGothicNeo', 'AppleSDGothicNeoL', 300, normal),
{
  @include font-face($name, $file, $weight, $style);
}

/* ========== reset ========== */
*{margin:0;padding:0;border:none;word-break:break-all;box-sizing:border-box;-webkit-box-sizing:border-box;-webkit-overflow-scrolling:touch;-webkit-hyphens:auto;hyphens:auto;vertical-align:baseline;font-size:inherit;line-height:inherit;font-family:inherit;color:inherit;}
*:before, *:after{box-sizing:border-box;-webkit-box-sizing:border-box;}
// html,body{height:100%;}
body{line-height:1.25;font-family:"AppleSDGothicNeo", "NotoSansKr","Sans-serif";-webkit-text-size-adjust:none;color:$c-base;word-break:keep-all;word-wrap:break-word;color:#5A5B5C;}
dl,ul,ol,menu,li {list-style:none;}
p{margin:0;}
table {width:100%;border-collapse:collapse;border-spacing:0}
table caption {visibility:hidden;overflow:hidden;width:0;height:0;font-size:0;line-height:0;}
img,fieldset{border:0 none;}
img{vertical-align:middle;max-width:100%;max-height:100%;}
a{color:inherit;text-decoration:none;cursor:pointer;color:inherit;font-family:inherit;}
a:hover{text-decoration:none}
i,em,address{font-style:normal;}
button{border:none;background:none;cursor: pointer;}
button:disabled{cursor: default;}

// ::-webkit-scrollbar{-webkit-appearance:none}
// ::-webkit-scrollbar:vertical{width:5px;}
// ::-webkit-scrollbar-thumb:vertical{ background-color:#001c6f; border-radius:10px; }
// ::-webkit-scrollbar-track:vertical{ background-color:rgba(0,0,0,.05); border-radius:10px; }
// ::-webkit-scrollbar:horizontal{height:12px;}
// ::-webkit-scrollbar-thumb:horizontal{ background-color:#c1c1c1;}
// ::-webkit-scrollbar-track:horizontal{ background-color:#f1f1f1;}

// body::-webkit-scrollbar:vertical{width:12px;}
// body::-webkit-scrollbar-thumb:vertical{ background-color:#c1c1c1; border-radius:0;}
// body::-webkit-scrollbar-track:vertical{ background-color:#f1f1f1; border-radius:0; }

// input[type="text"]::placeholder { color:#bebebe;vertical-align:middle;}

// input[type="text"],input[type="password"], select,
// .form-control,
// .bootstrap-select button{-webkit-appearance: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;padding: .375rem .75rem;border-radius:0;height:50px;border: 2px solid #C4C4C4;border-radius:4px;font-size:20px;overflow-y:auto !important;}

// select,
// .bootstrap-select .dropdown-toggle{height:50px;padding-right:40px;background:#fff url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 9'><path d='M13 0H0L6.5 9L13 0Z' fill='gray'/></svg>") no-repeat right 17px top 50%;background-size:auto 7px !important;}

// input[type="text"].sm,input[type="password"].sm, select.sm, .sm input[type="text"], .sm input[type="password"], .sm select,
// .form-control.sm, .bootstrap-select.sm .dropdown-toggle{height:36px;font-size:14px;background-size:auto 7px;background-position:right 15px top 50%;}
// .bootstrap-select.sm .dropdown-toggle .filter-option-inner-inner{line-height:20px;font-size:14px;padding-right:20px;}

// input[type="text"]:focus,
// input[type="text"].sm:focus,
// input[type="password"]:focus,
// input[type="password"].sm:focus,
// select:focus,
// select.sm:focus,
// .form-control:focus,
// .form-control.sm:focus,
// .bootstrap-select button:focus{border-color:#CDE4FF !important;}
// .bootstrap-select.sm button:focus{border-color:#CDE4FF !important;}

/* icon */
// $homeStroke: '%2317233D';
// i[class*=i-]{display:inline-block;background-size:100% 100% !important;vertical-align: middle;}
// @each $name, $w, $h, $bg in 
// (back, 10, 16, 'data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 16"><path d="M0 8L8.00009 0L9.77759 1.7775L3.55509 8L9.77759 14.2225L8.00009 16L0 8Z" fill="%2317233D"/> </svg>'),
// (home, 20, 22, 'data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 24"><path d="M0.901525 7.79682L9.40152 1.44708C9.75646 1.18193 10.2435 1.18193 10.5985 1.44708L19.0985 7.79682C19.3512 7.9856 19.5 8.28254 19.5 8.59797V22C19.5 22.5523 19.0523 23 18.5 23H14.4926C14.0293 23 13.6538 22.6245 13.6538 22.1613V17.428C13.6538 15.4101 12.018 13.7742 10 13.7742C7.98204 13.7742 6.34615 15.4101 6.34615 17.428V22.1613C6.34615 22.6245 5.97065 23 5.50745 23H1.5C0.947715 23 0.5 22.5523 0.5 22V8.59796C0.5 8.28254 0.648823 7.9856 0.901525 7.79682Z" stroke="#{$homeStroke}" fill="none"/></svg>'),
// (tel, 20, 22, 'data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 24"><path d="M0.901525 7.79682L9.40152 1.44708C9.75646 1.18193 10.2435 1.18193 10.5985 1.44708L19.0985 7.79682C19.3512 7.9856 19.5 8.28254 19.5 8.59797V22C19.5 22.5523 19.0523 23 18.5 23H14.4926C14.0293 23 13.6538 22.6245 13.6538 22.1613V17.428C13.6538 15.4101 12.018 13.7742 10 13.7742C7.98204 13.7742 6.34615 15.4101 6.34615 17.428V22.1613C6.34615 22.6245 5.97065 23 5.50745 23H1.5C0.947715 23 0.5 22.5523 0.5 22V8.59796C0.5 8.28254 0.648823 7.9856 0.901525 7.79682Z" stroke="%2317233D" fill="none"/></svg>'),
// {
//   @include icon-draw($name, $w, $h, $bg);
// }

$blue: #5D96F6;

/* icon */
i[class*=i-]{position:relative;display:inline-block;background-size:100% 100% !important;vertical-align: middle;}
i[class*=i-] svg{width:100%;height:100%;}
i[class*=i-] .svg-prevent{position:absolute;top:0;left:0;z-index: 1;width:100%;height:100%;}
// @each $name, $w, $h, $fill, $stroke in 
// (back, 18, 18),
// (back-red, 18, 18),
// // (home, 16, 18),
// (tel, 24, 24),
// ('arr-right', 14, 24),
// ('answer-complete', 16, 16),
// ('answer-wating', 16, 16),
// ('arr-cate', 10, 16),
// // ('foot-charging-station', 17, 23, 'none', '%23808695'),
// // ('foot-route-recommend', 22, 20, 'none', '%23808695'),
// // ('foot-instant-charge', 22, 22, 'none', '%23808695'),
// // ('foot-favorites', 18, 23, 'none', '%23808695'),
// // ('foot-more', 22, 4),

// ('foot-search', 25, 24, 'none', '%235A5B5C'),
// ('foot-origin', 29, 28, '%235A5B5C', '%235A5B5C'),
// ('foot-mapsearch', 29, 29, '%235A5B5C', '%235A5B5C'),
// ('foot-favorites', 21, 25, 'none', '%235A5B5C'),
// ('foot-legend', 21, 27, '%235A5B5C', '%235A5B5C'),
// {
//   .i-#{$name}{width:rem($w);height:rem($h); @include svg($name, $width:$w, $height:$h, $fill:$fill, $stroke:$stroke)}
//   // .i-#{$name}{width:rem($w);height:rem($h);}
//   // .i-#{$name}{width:rem($w);height:rem($h);background:url($bg) no-repeat 0 0;}
//   // .i-#{$name}{width:rem($w);height:rem($h);}
// }

/* btn */

/* btn */
.btn-box{margin-top:30px;text-align:center;}
.btn-box [class*=btn-type] ~[class*=btn-type]{margin-left:rem(5);}

@include btn-style{
  [class*=btn-type]{@include flexInline(center);white-space:nowrap;border-radius:rem(4);}
  [class*=btn-type].full{@include flex(center);width:100%;} 
  [class*=btn-type] i{margin-right:rem(3);}

  @each $name, $h, $fs in 
  (btn-type1, rem(48), rem(16)),
  {
    @include btn-type($name, $h, $fs);
  }

  @each $name, $c, $bg, $br in 
  (st1, #fff, #5D96F6, #5D96F6),
  (st2, #fff, #46C768, #46C768),
  {
    @include btn-st($name, $c, $bg, $br);
  }    
}

/* form */
//input type number 에서 화살표 제거
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

$inputs: 'input[type=text]', 'input[type=password]', 'input[type=email]', 'input[type=number]', 'input[type=phone]', 'input[type=date]', 'input[type=tel]', textarea, select;
%select-set {
  -webkit-appearance: none; -moz-appearance: none; appearance: none;
  background:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 4"><path d="M7 0.25H0L3.5 3.75L7 0.25Z" fill="black"/></svg>') no-repeat right rem(10) top 50%;
  background-size:auto rem(6);
  padding-right:rem(40);
}
%textarea-set {
  padding:10px;border:1px solid #e9e9e9;border-radius:4px;
}
%disabled-set {
  color:#aeaeae;background-color:#eeeeee !important;
}

@each $input in $inputs {
  //input[type="#{$input}"] {
    #{$input} {
      width:100%;
      font-size:rem(14);
      border:1px solid #5A5B5C;
      border-radius: rem(2);
      height:rem(56);
      padding:0 rem(15);
      padding-top:rem(3);
      color:#4F4F4F;
      @include prefix(box-shadow, none);
      @include placeholder{color:#A3A9A4;}
  }
  @if #{$input}  == 'select' {
    #{$input} {
      @extend %select-set;
    }
  }  
  @if  #{$input}  == 'textarea' {
    #{$input} {
      @extend %textarea-set;
    }
  }  
}

.inp-tel{@include flex;color:#808695;border:1px solid #dcdee2; border-radius: rem(8); height:rem(40);}
.inp-tel input{padding:0 0;flex: 1;border:none;height:100%;text-align:center;}
.inp-addr{@include flex;padding:0 0;border-left:none;}
.inp-addr input{flex: 1;border-right:none;border-radius:rem(8) 0 0 rem(8);}
.inp-addr button{height:100%;width:rem(56);color:#fff;font-size:rem(14);line-height:rem(40);border-radius:0 rem(8) rem(8) 0;background:#46C768;}


/* align */
.align-l{text-align:left !important;}
.align-c{text-align:center !important;}
.align-r{text-align:right !important;}

/* c-color */
.c-blue{color:$blue !important;}

/*********************************
  layout
*********************************/

.header{position:fixed;top:0;left:0;height:rem(40);width:100%;background:#fff;}
.header .title{text-align:center;height:100%;@include flex(center);font-size:rem(14);color:#000;font-weight:700;}
.header .left{position:absolute;top:0;left:rem(15);height:100%;@include flex;}
.header .right{position:absolute;top:0;right:rem(15);height:100%;@include flex;}
.header .btn{height:100%;padding:0 12px;min-width: rem(35);@include flex(center);font-size:rem(14);font-weight:700;}

.header ~ .contents{padding-top:rem(40);}

.footer{position:fixed;bottom:0;left:0;width:100%;z-index: 10;background:#fff;}
.footer .footer-menu{@include flex;height:rem(54);padding:0 rem(20);}
.footer .footer-menu .menu{flex:1;text-align:center;}
.footer .footer-menu .menu .icon{@include flexInline(center);height:rem(30);}
.footer .footer-menu .menu.on .icon .i-foot-charging-station{@include svg('foot-charging-station', $fill:'%235D96F6', $stroke:'%23000000');}
.footer .footer-menu .menu.on .icon .i-foot-route-recommend{@include svg('foot-route-recommend', $fill:'%235D96F6', $stroke:'%23000000');}
.footer .footer-menu .menu.on .icon .i-foot-instant-charge{@include svg('foot-instant-charge', $fill:'%235D96F6', $stroke:'%23000000');}
.footer .footer-menu .menu.on .icon .i-foot-favorites{@include svg('foot-favorites', $stroke:'%23000000');}
.footer .footer-menu .menu .txt{display:block;font-size:rem(8);color:#808695;}

.fixed-btm{position: fixed;bottom:rem(56);left:0;width:100%;z-index: 10;}
.fixed-btm .btn-wrap{padding:rem(16) rem(32);}
.fixed-btm [class*=btn-type]{@include flex(center);width:100%;}

/*********************************
  common content
*********************************/

.tit-type1{font-size:rem(24);color:#17233D;@include bold;}
.tit-type2{font-size:rem(16);color:#17233D;@include bold;padding-bottom:rem(10);border-bottom:1px solid #6e6f70;}

/* btn */
.svg-prevent{content:'';display:block;position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0, 0, 0, 0);}

.container-calendar .table-calendar{font-family: 'AppleSDGothicNeo';}
.container-calendar .table-calendar table{table-layout: fixed;}
.container-calendar .table-calendar table th,
.container-calendar .table-calendar table td{width:14.2857%;}
.container-calendar .table-calendar table th{font-weight:400;font-size:rem(16);color:#000;height:rem(22);vertical-align: top;padding-bottom:rem(15);}
.container-calendar .table-calendar table td{height:rem(40);text-align:center;}
.container-calendar .table-calendar .date{display:inline-block;width:rem(20);height:rem(20);border-radius:rem(16);font-size:rem(13); color:#808695;line-height:rem(16);text-align:center;}
.container-calendar .table-calendar .bold{ color:#000;font-size:rem(15);line-height:rem(22);}
.container-calendar .table-calendar .today .date{background:#5D96F6; color:#fff; font-size:rem(15);line-height:rem(19);}
.container-calendar .table-calendar .price{font-size:rem(10);}

.slide-list ul li .conts-wrap{display:none;}

.noti-list ul li{box-shadow: inset 0px -1px 0px #DCDEE2;}
.noti-list ul li .btn{display:block;width:100%;padding:rem(7) rem(30) rem(7) 0;text-align:left;position:relative;text-align:left;}
.noti-list ul li .btn [class*=i-arr]{@include posCenter(y);right:0;@include easing;}
.noti-list ul li .btn.on [class*=i-arr]{@include prefix(transform, rotate(90deg) translateX(-50%));} /* translateY(50%) */
.noti-list ul li .date{font-size:rem(12);color:#8F8F8F;display:block;margin-bottom:rem(8);}
.noti-list ul li .title{color:#4F4F4F;font-size:rem(16);@include bold;@include ell;}
.noti-list ul li .conts-wrap .conts{font-size:rem(14);padding:rem(5) 0;color:#4F4F4F;}

.notice-wrap{padding:0 rem(32);}
.notice-wrap .tit-type1{margin-top:rem(40);}
.notice-wrap .noti-list{margin-top:rem(15);}
.notice-wrap .tit-type1 ~ .noti-list{margin-top:rem(30);}

.qna-wrap{padding:0 rem(32);}
.qna-wrap .tit-type1{margin-top:rem(30);}
.qna-wrap .tit-type2{margin-top:rem(55);}
.qna-wrap .search{margin-top:rem(30);}
.qna-wrap .noti-list ul li{box-shadow: inset 0px -1px 0px #5A5B5C;}
.qna-wrap .noti-list ul li .info{@include flex;}
.qna-wrap .noti-list ul li .info .date{margin-bottom:0;font-size:rem(14);color:#515A6E;}
.qna-wrap .noti-list ul li .info .status{font-size:rem(16);margin-left:rem(16);}
.qna-wrap .noti-list ul li .info .status > span{vertical-align: middle;display:inline-block;height:rem(16);}
.qna-wrap .noti-list ul li .info .status i{margin-right:rem(7);}
.qna-wrap .noti-list ul li .info .status.complete{color:#000;}
.qna-wrap .noti-list ul li .info .status.wating{color:#A3A9A4;}
.qna-wrap .noti-list ul li .title{margin-top:rem(8);}
.qna-wrap .noti-list ul li .conts-wrap{padding:0 0 rem(8);}
.qna-wrap .noti-list ul li .conts-wrap .conts{background: #F1F2F4;border: 1px solid #A3A9A4;padding: rem(8);border-radius:rem(4);font-size:rem(14);}

.x-scrolling-list{overflow-x: auto;width:100%;white-space: nowrap;@include scrollbar(none);padding-bottom:rem(10);}
.x-scrolling-list li{display:inline-block;}
// .x-scrolling-list li ~ li{margin-left:rem(24);}
// .x-scrolling-list .gradient-box{@include flex(space-between, flex-start, column);padding:rem(25) rem(15) rem(30);height:rem(272);width:rem(248); border-radius: rem(20);}
// .x-scrolling-list .gradient-box .tit{display:block;font-size:rem(24);color:#fff;@include bold;}
// .x-scrolling-list .gradient-box .status{display:inline-block;height:rem(32);line-height:rem(34);padding:0 rem(6);font-size:rem(24);border:1px solid #fff;border-radius:rem(8);color:#fff;@include thin;}
// .x-scrolling-list .gradient-box .period{float:right;display:block;width:rem(64);height:rem(72);margin-left:auto;padding:rem(5) 0 rem(7);@include flex(space-between, center, column);background:#fff;border-radius:rem(10);color:#17233D;}
// .x-scrolling-list .gradient-box .period .month{font-size:rem(14);@include bold;}
// .x-scrolling-list .gradient-box .period .day{font-size:rem(22);}
// .x-scrolling-list .gradient-box .text{color:#fff;font-size:rem(24);white-space: normal;@include thin;}

.charger-install-wrap{padding:0 rem(25);padding-top:rem(16);}
.charger-install-wrap .user-desc{@include flex;margin-bottom:rem(30);}
.charger-install-wrap .user-desc .img{margin-right:rem(16);}
.charger-install-wrap .user-desc .img img{width:rem(72);height:rem(72);border-radius:100%;}
.charger-install-wrap .user-desc .desc{font-size:rem(24);color:#17233D;line-height:1em;}
.charger-install-wrap .user-desc .desc b{@include bold;}
.charger-install-wrap .noti-txt{font-size:rem(16);text-align:center;margin-bottom: rem(25);}
.charger-install-wrap .noti-txt em{color:#46C768;}
.charger-install-wrap .guide-tag {margin-bottom:rem(30);}
.charger-install-wrap .guide-tag span{display:inline-block;height:rem(32);line-height:rem(34);padding:0 rem(10);font-size:rem(16);background:#00BC4B;border-radius:rem(32);color:#fff;}
.charger-install-wrap .x-scrolling-list{width:calc(100% + rem(50));margin-left:rem(-25);}
.charger-install-wrap .x-scrolling-list .gradient-box{height:rem(232);padding-top:rem(40);padding-bottom:rem(35);background: linear-gradient(180deg, #00BC4B 81.25%, rgba(0, 188, 75, 0) 100%); filter: drop-shadow(4px 4px 10px rgba(0, 188, 75, 0.25));}
.charger-install-wrap .x-scrolling-list .gradient-box .tit{padding-top:rem(10)}
// .charger-install-wrap .x-scrolling-list .gradient-box .status{margin-top:rem(-10);}
.charger-install-wrap .x-scrolling-list .installing .noti-txt{font-size:rem(20);}

.event-wrap{padding:0 rem(32);margin-top:rem(15);}
// .event-wrap .event-header{padding:0 rem(15);}
.event-wrap .event-header .date{margin-top:rem(9);font-size:rem(14);color:#808695;}
// .event-wrap .tit-type2{margin-top:rem(40);}
.event-wrap .x-scrolling-list{width:calc(100% + rem(64));margin-left:rem(-32);padding-bottom:rem(40);}
.event-wrap .x-scrolling-list ul li:last-child{padding-right:rem(32);}
.event-wrap .event-list{margin-top:rem(30);padding-left:rem(32);}
.event-wrap .event-list li{width:calc(100% - rem(32));}
.event-wrap .event-list li ~ li{margin-left:rem(16);}
.event-wrap .event{background-repeat:no-repeat !important;background-position:50% 50% !important;background-size:cover !important;height:rem(160);width:100%;padding:rem(13) rem(17);background: #FFFFFF; box-shadow: 0px 2px 8px rgba(40, 41, 61, 0.04), 0px 16px 24px rgba(96, 97, 112, 0.16); }
.event-wrap .event .link-btn{display:block;height:100%;}
.event-wrap .event .title{font-size:rem(20);color:#000;@include bold;}
.event-wrap .event .type{margin-top:rem(3);font-size:rem(14);color:#5B8DEF;@include medium;}
.event-wrap .event .period{display:block;width:rem(64);height:rem(72);margin-top:rem(9);padding:rem(5) 0 rem(7);@include flex(space-between, center, column);background:#fff;border-radius:rem(10);color:#17233D;border:1px solid #4683f1;}
.event-wrap .event .period .month{font-size:rem(14);@include bold;}
.event-wrap .event .period .day{font-size:rem(22);}
.event-wrap .event-detail{padding-bottom:rem(40);}
.event-wrap .event-view{position:relative;font-size:rem(16);color:#4F4F4F;margin-top:rem(30);padding-top:rem(40);line-height:1.4;}
.event-wrap .event-view:before{content:'';display:block;width:rem(30);height:rem(2);background:#1C1C28;position:absolute;top:0;}
.event-wrap .btn-wrap{margin-top:rem(40);}
.event-wrap .btn-wrap .btn{@include flexInline;height:rem(38);background: #000000; border-radius: 2.55748px;font-size:rem(20);padding:0 rem(10);color:#fff;}
.event-wrap .btn-wrap .btn span{display:inline-block;vertical-align: middle;height:rem(22);}
.event-wrap .btn-wrap .btn i{margin-left:rem(5);}


.grid-list{font-size:rem(14);}
.grid-list .list-tit{color:#C5C5CE;}
.grid-list .list-tit ~ .list-tit{margin-top:rem(20);}
.grid-list > .row{@include flex;align-items: flex-start;width:100%;}
.grid-list > .row + .row{margin-top:rem(10);}
.grid-list > .row .tit{min-width: rem(80);padding-right:rem(10);@include flex;min-height: rem(40);color:#17233D;@include bold;}
.grid-list > .row .text{flex:1;@include flex;padding-top:rem(12);padding-left:rem(15);}
.grid-list > .row .input{flex:1;}

.select-date{overflow:hidden;border:1px solid #E8EAEC;border-radius:rem(8);color:#515A6E;font-size:rem(12);margin-top:rem(10);}
.select-date > .row{@include flex;align-items: flex-start;width:100%;}
.select-date > .row .cell{@include flex(center);flex:1;height:rem(40);border-left:1px solid #E8EAEC;border-top:1px solid #E8EAEC;text-align:right;text-align:center;}
.select-date > .row .cell button{height:100%;width:100%;}
.select-date > .row button[disabled]{color:#808695;background:#E8EAEC;}
.select-date > .row-header button[disabled]{color:#C5C5CE;background:#fff;}
.select-date > .row .cell:first-child{border-right:none;}
.select-date > .row:first-child .cell{border-top:none;}


.rule-wrap{padding:0 rem(32) rem(30);}
.rule-wrap .rule-header{margin-top:rem(56);padding-bottom:rem(16);border-bottom:1px solid #c7c9d9;}
.rule-wrap .date-select{margin-top:rem(16);}
.rule-wrap .date-select select{
  font-size:rem(13);
  height:rem(40);
  width:auto;
  border:1px solid #e3e4ec;
  padding-right:rem(30);
  background:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 4"><path d="M7 0.25H0L3.5 3.75L7 0.25Z" fill="%234F4F4F"/></svg>') no-repeat right rem(10) top 50%;
  background-size:auto rem(4);  
}
.rule-wrap .rule-view pre{padding-top:rem(16);font-size:rem(16);color:#4F4F4F;white-space: pre-line;}